<footer class="page-footer padding-bottom-2 z-depth-2">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m6">© Liam Hemming</div>
            <div class="col hide-on-small-only m6 right-align">
                Find me on GitHub: <a href="https://github.com/lmjh/" target="_blank">lmjh</a>
            </div>
            <div class="col s12 hide-on-med-and-up">
                Find me on GitHub: <a href="https://github.com/lmjh/" target="_blank">lmjh</a>
            </div>
        </div>
    </div>
</footer>