{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 l8 offset-l2 margin-top-5 center-align">
        <div class="card-panel">
            <h1>Add Workout</h1>
            <form method="POST" action="{{ url_for('add_workout') }}">
                <!-- select routine -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="routine_name" name="routine_name" class="validate" required>
                            <option value="" disabled selected>Select Routine</option>
                            {% for routine in routines %}
                                <option value="{{ routine._id }}">{{ routine.routine_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="routine_name">Routine</label>
                    </div>
                </div>
                <!-- pick date and time -->
                <div class="row">
                    <div class="col s12 m6">
                        <input id="workout_date" name="workout_date" type="text" class="datepicker validate" required>
                        <label for="workout_date">Date</label>
                    </div>
                    <div class="col s12 m6">
                        <input id="workout_time" name="workout_time" type="text" class="timepicker validate" required>
                        <label for="workout_time">Time</label>
                    </div>
                </div>
                <!-- enter number of sets completed -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="sets" name="sets" class="validate" type="number" required>
                        <label for="sets">Sets completed</label>
                    </div>
                </div>
                <!-- add notes (optional field) -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="notes" name="notes" maxlength="200" 
                            class="materialize-textarea validate"></textarea>
                        <label for="notes">Notes (optional)</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <button type="submit" class="waves-effect waves-light btn-large col s8 offset-s2 margin-top-2">
                        <i class="fa-solid fa-circle-plus right"></i>Add Record </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}