{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h1>Frequently Asked Questions</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 l8 offset-l2">
        <ul class="collapsible faq-collapsible z-depth-0">
            <li class="faq-container z-depth-4 active">
                <!-- collapsible header -->
                <div class="collapsible-header faq-header" aria-label="Click to open or close question">
                    <div class="col s10">
                        How do I do the exercises in the default routines?
                    </div>
                    <div class="col s2">
                        <i class="fa-solid fa-circle-chevron-down right"></i>
                    </div>
                </div>
                <!-- collapsible body -->
                <div class="collapsible-body faq-body">
                    <p>We’ve included instructions here for how to perform each of the six exercises included in the
                            three default routines.</p>
                    <p>For most people, though, the easiest way to learn exercises is by watching someone else 
                        perform them while talking through what they’re doing, so we’ve also included a link to a 
                        youtube search for each of the exercises. We’d encourage you to take a look at a few videos 
                        to get a better understanding of how to perform the exercises with the best form.</p>
                    <h5>Chin-ups</h5>
                    <p>Stand underneath the bar and grip it with your palms facing towards you and roughly shoulder 
                        width apart. Pull upwards with your arms until your head is above the bar. Hold for a 
                        moment, then lower yourself back down until your arms are straight. If your routine calls 
                        for more than one rep per set, don’t fully lockout your arms between the reps - keep a 
                        little bend in your elbows.</p>
                    <p><a href="https://www.youtube.com/results?search_query=chin-up+form" target="_blank">Find 
                        videos of chin-up form.</a></p>
                    <h5>Push-ups</h5>
                    <p>Start facing the ground with your legs fully extended behind you, with your upper body 
                        supported by your arms. Your hands should be roughly shoulder width apart and there should 
                        be a slight bend in your elbows. Lower yourself towards the ground by bending your arms 
                        until your chest reaches the floor, then push back up until you return to the starting p
                        osition. Your body should be as straight as possible from your shoulders down to your feet 
                        throughout the whole exercise, so keep your core muscles engaged.</p>
                    <p><a href="https://www.youtube.com/results?search_query=push-up+form" target="_blank">Find 
                        videos of push-up form.</a></p>
                    <h5>Squats</h5>
                    <p>Begin in a standing position with your feet shoulder-width apart. Lower your body by bending 
                        at the knees until your hips are around level with your knees, then push backup to the 
                        starting position.</p>
                    <p><a href="https://www.youtube.com/results?search_query=squat+form" target="_blank">Find videos of squat-up form.</a></p>
                    <h5>Pull-ups</h5>
                    <p>Pull-ups are performed in the same way as chin-ups, but grip the bar with your palms facing 
                        away from your body. This puts more of an emphasis on the back and shoulder muscles.</p>
                    <p><a href="https://www.youtube.com/results?search_query=pull-up+form" target="_blank">Find 
                        videos of pull-up form.</a></p>
                    <h5>Close grip push-ups</h5>
                    <p>Close grip push-ups are performed in the same way as standard push-ups, but with the hands 
                        placed closer together on the ground - roughly one hand width apart.</p>
                    <p><a href="https://www.youtube.com/results?search_query=close+grip+push+up+form" target="_blank">Find videos of close grip push-up form.</a></p>
                    <h5>Lunges</h5>
                    <p>From a standing position, step forward with one leg and then bend both knees until the lower 
                        part of your back leg and the upper part of your front leg are almost parallel to the 
                        ground. Next, push back up to return to the starting position. Your upper body should be 
                        straight with your core engaged throughout the movement.</p>
                    <p><a href="https://www.youtube.com/results?search_query=+lunge+form" target="_blank">Find videos of lunge form.</a></p>
                </div>
            </li>
            <li class="faq-container z-depth-4 active">
                <!-- collapsible header -->
                <div class="collapsible-header faq-header" aria-label="Click to open or close question">
                    <div class="col s10">
                        What if I can't do some of the exercises?
                    </div>
                    <div class="col s2">
                        <i class="fa-solid fa-circle-chevron-down right"></i>
                    </div>
                </div>
                <!-- collapsible body -->
                <div class="collapsible-body faq-body">
                    <p>If some of the exercises in the default routines are too difficult or not possible for you, you 
                        can substitute them for something easier. For example, if push-ups are too challenging for you 
                        to start with, you can substitute them with knee push-ups, where you keep your knees touching 
                        the ground to reduce the load. You might want to add a custom routine with your substitutions, 
                        so you can keep the scores separate when you progress to the more challenging exercises.</p>
                </div>
            </li>
            <li class="faq-container z-depth-4 active">
                <!-- collapsible header -->
                <div class="collapsible-header faq-header" aria-label="Click to open or close question">
                    <div class="col s10">
                        How do I add a custom routine?
                    </div>
                    <div class="col s2">
                        <i class="fa-solid fa-circle-chevron-down right"></i>
                    </div>
                </div>
                <!-- collapsible body -->
                <div class="collapsible-body faq-body">
                    <p>To add a custom routine, open the “My Routines” page from the navigation bar, then scroll down 
                        past your current routines until you see the ”Add New Routine” card.
                    </p>
                    <div class="card-panel-cutout center-align">
                        <figure class="no-margin">
                            <img src="{{ url_for('static', filename='images/faq-add-custom-routine.jpg') }}" 
                                alt="Press  the green 'Add New Routine' button to add a custom routine" 
                                class="img-responsive img-gs">
                            <figcaption class="visually-hidden">
                                New Routines can be added from the My Routines page by clicking the 'Add New Routine'
                                button.
                            </figcaption>
                        </figure>
                    </div>
                    <p>Click the green button to begin, then simply fill out the form with your chosen routine name, the
                         exercises you want, and how many reps of each exercise should be done in each set.
                    </p>
                </div>
            </li>
            <li class="faq-container z-depth-4 active">
                <!-- collapsible header -->
                <div class="collapsible-header faq-header" aria-label="Click to open or close question">
                    <div class="col s10">
                        What is Fitrio?
                    </div>
                    <div class="col s2">
                        <i class="fa-solid fa-circle-chevron-down right"></i>
                    </div>
                </div>
                <!-- collapsible body -->
                <div class="collapsible-body faq-body">
                    <p>Fitrio is a fitness app based around short, focused workout routines that you can do at home. 
                        Each routine is just three exercises repeated and a full workout only takes half an hour. 
                        Because there’s only three exercises to learn at a time, it should be easy for beginners to pick
                         up, and you can keep track of your progress with the app, so you can easily see how much you’ve
                          improved and challenge yourself to beat your best scores.
                        </p>
                    <p>The word ‘Fitrio’ is a portmanteau of ‘fitness’ and ‘trio’, in reference to the three exercises 
                        that make up each Fitrio routine.
                        </p>
                </div>
            </li>
            <li class="faq-container z-depth-4 active">
                <!-- collapsible header -->
                <div class="collapsible-header faq-header" aria-label="Click to open or close question">
                    <div class="col s10">
                        How often should I do the exercises?
                    </div>
                    <div class="col s2">
                        <i class="fa-solid fa-circle-chevron-down right"></i>
                    </div>
                </div>
                <!-- collapsible body -->
                <div class="collapsible-body faq-body">
                    <p>How often you should exercise really varies by person and will depend on a lot of factors like 
                        your general health and fitness levels. It’s a good idea to leave at least one rest day between 
                        workouts, though, to give your muscles time to recover.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}