{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <h1 class="text-shadow">Getting Started</h1>
    </div>
</div>
<!-- Introduction section -->
<div class="row">
    <div class="col s12 l10 offset-l1">
        <div class="card-panel card-panel-bottom z-depth-4">
            <p>Fitrio is a fitness app based around short, focused workout routines that you can do at home. The only 
                equipment you'll need is a pull-up bar.</p>
            <p>A Fitrio routine is made up of just three exercises. The beginner routine, for example, is one chin-up, 
                two push-ups, and three squats. The number of times you do each exercise is called the 'reps' (or 
                repetitions) and doing the whole sequence is called a 'set'.</p>
        </div>
    </div>
</div>
<!-- Routine tutorial section -->
<div class="row center-align">
    <div class="col s12">
        <h2 class="text-shadow">Here's how it works:</h2>
    </div>
</div>
<div class="row valign-wrapper wrapper-fix">
    <div class="col s5 m4">
        <img src="{{ url_for('static', filename='images/clock-5-1.jpg') }}" alt="Warm up for five minutes" 
            class="img-responsive img-gs">
    </div>
    <div class="col s7 m8 hide-on-med-and-up">
        <p class="flow-text text-shadow">1. Warm up for five minutes.</p>
    </div>
    <div class="col s12 m8">
        <p class="flow-text text-shadow hide-on-small-only">1. Warm up for five minutes.</p>
        <div class="card-panel card-panel-bottom z-depth-4">
            <p>You can do anything you like: jog on the spot while waving your arms around, go through the routine 
                exercises very slowly, or follow along with a warm up video on youtube. Anything to loosen up your 
                muscles and get your heart beating faster.</p>
        </div>
    </div>
</div>
<div class="row valign-wrapper wrapper-fix">
    <div class="col s5 m4">
        <img src="{{ url_for('static', filename='images/clock-20.jpg') }}" alt="Perform routine exercises for 20 minutes" class="img-responsive 
            img-gs">
    </div>
    <div class="col s7 m8 hide-on-med-and-up">
        <p class="flow-text text-shadow">2. Do the three routine exercises for 20 minutes.</p>
    </div>
    <div class="col s12 m8">
        <p class="flow-text text-shadow hide-on-small-only">2. Do the three routine exercises for 20 minutes.</p>
        <div class="card-panel card-panel-bottom z-depth-4">
            <p>Set a timer so you know when the 20 minutes are up. Try not to rush the movements and concentrate on 
                keeping your form as good as you can. Count every set you complete.</p> 
                
            <p>When you get tired, take a break, but don't stop the timer. The idea is to complete as many sets as you 
                can in the 20 minutes. As your fitness improves, you'll need fewer breaks and your scores will get 
                better and better.</p>
        </div>
    </div>
</div>
<div class="row valign-wrapper wrapper-fix">
    <div class="col s5 m4">
        <img src="{{ url_for('static', filename='images/clock-5-2.jpg') }}" alt="Cool down for five minutes" 
            class="img-responsive img-gs">
    </div>
    <div class="col s7 m8 hide-on-med-and-up">
        <p class="flow-text text-shadow">3. Cool down for five minutes.</p>
    </div>
    <div class="col s12 m8">
        <p class="flow-text text-shadow hide-on-small-only">3. Cool down for five minutes.</p>
        <div class="card-panel card-panel-bottom z-depth-4">
            <p> After your 20 minutes are up, it's a good idea to spend five minutes doing some gentle exercise and 
                stretching, to cool down. After that, record the number of sets you finished on the Fitrio app and try 
                to beat your score next time!</p>
        </div>
    </div>
</div>
<!-- Workout logging tutorial section -->
<div class="row center-align">
    <div class="col s12">
        <h2 class="text-shadow">Here's how to log your workouts:</h2>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 l4">
        <div class="card-panel card-panel-bottom z-depth-4">
            <div class="card-panel-cutout">
                <figure class="no-margin">
                    <img src="{{ url_for('static', filename='images/log-tutorial-1.jpg') }}" alt="Add Log buttons are found in each routine on the 
                        My Routines page" class="img-responsive img-gs">
                        <figcaption class="visually-hidden">
                            Each routine on the routines page has a link to quickly add a log using that routine.
                        </figcaption>
                </figure>
            </div>
            <div class="card-panel-top z-depth-2 margin-top-2">
                <p>Click the “Add Log” button beneath the routine you’ve worked through on the My Routines page. There’s 
                also a button at the top of the Workout Log page.</p>
            </div>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card-panel card-panel-bottom z-depth-4">
            <div class="card-panel-cutout">
                <figure class="no-margin">
                    <img src="{{ url_for('static', filename='images/log-tutorial-2.jpg') }}" 
                        alt="Fill out the Add Workout form to add a new record" class="img-responsive img-gs">
                        <figcaption class="visually-hidden">
                            Workouts are added by filling in and submitting a form.
                        </figcaption>
                </figure>
            </div>
            <div class="card-panel-top z-depth-2 margin-top-2">
                <p>Enter the details of your workout. For ‘Sets Completed’, remember to only include sets you finished 
                    inside the 20 minutes - if you were halfway through one, it doesn’t count!
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card-panel card-panel-bottom z-depth-4">
            <div class="card-panel-cutout">
                <figure class="no-margin">
                    <img src="{{ url_for('static', filename='images/log-tutorial-3.jpg') }}" 
                        alt="Routine progress is visualised in a graph on the Track Progress pages" 
                        class="img-responsive img-gs">
                     <figcaption class="visually-hidden">
                        The Track Progress page provides an overview of recorded data, including a graph of progress.
                    </figcaption>
                </figure>
            </div>
            <div class="card-panel-top z-depth-2 margin-top-2">
                <p>Push the green ‘Add Log’ button and you’re done! Once you’ve recorded a few workouts, you can see 
                    your personal best score and a graph of your progress by clicking the ‘Track’ button on the My 
                    Routines page.</p>
            </div>
        </div>
    </div>
</div>
<div class="row center-align">
    <div class="col">
        <p>
            Still have questions? Check out our <a href="{{ url_for('faq') }}">faq section</a>, where you can find full 
            instructions on how to perform the exercises in the beginner and intermediate routines as well as answers to
             other common questions.
        </p>
    </div>
</div>
{% endblock %}