{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 l10 offset-l1 margin-top-5 center-align">
        <div class="card-panel card-panel-bottom z-depth-4">
            <!-- Add username to page title if user is not page owner -->
            <h1 class="progress-title">
                {%- if not data.owner -%}
                    {{ data.username | capitalize }}'s
                {%- endif -%}
                    {{ data.routine.routine_name }} Routine Progress</h1>
                <div class="card-panel-cutout margin-top-2">
                    <figure class="no-margin">
                        <canvas id="myChart" aria-label="A chart of workout score against time." role="img">
                            <p>Unfortunately, this element is not supported by your browser.</p>
                        </canvas>
                        <figcaption class="visually-hidden">
                            This graph plots the date of the workout against the score achieved to visualise your progress with 
                            the routine. 
                        </figcaption>
                    </figure>
                </div>
            <div class="row">
                <div class="col s12 flow-text text-shadow">
                    <span class="">{{ data.sets|length }}</span> Workouts Recorded
                </div>
            </div>
            <div class="row">
                <div class="col s12 flow-text text-shadow">
                    Personal Best:
                </div>
            </div>
            <div class="card-panel-top z-depth-2">
                <div class="row center-align">
                    <div class="col s12 m4 offset-m4">
                        <div class="feature-number">
                            {{ data.best.sets }}
                        </div>
                    </div>
                    <div class="col s12 m4 offset-m4">
                        <div>
                            sets on {{ data.best.date.strftime('%d %B %y') }}, totalling:
                        </div>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col s4">
                        <div class="feature-number">{{ data.routine.exercise_one_reps * data.best.sets }}</div>
                        <div class="exercise-name">{{ data.routine.exercise_one }}</div>
                    </div>
                    <div class="col s4">
                        <div class="feature-number">{{ data.routine.exercise_two_reps * data.best.sets }}</div>
                        <div class="exercise-name">{{ data.routine.exercise_two }}</div>
                    </div>
                    <div class="col s4">
                        <div class="feature-number">{{ data.routine.exercise_three_reps * data.best.sets }}</div>
                        <div class="exercise-name">{{ data.routine.exercise_three }}</div>
                    </div>
                </div>
            </div>

            {% if data.owner and not data.shared -%}
            <!-- Include share button and content if user is page owner and page is not shared -->
            <div class="row">
                <div class="col s12 margin-top-2">
                    <p>Your progress with this routine is currently HIDDEN.</p>
                    <p>If you'd like to share your progress with others, click the button below to make this 
                        page visible and get a link to share.</p>
                </div> 
            </div>
            <div class="row">
                <!-- Share button triggers confirmation modal -->
                <a href="#share_modal" class="waves-effect btn-large col s10 offset-s1 m8 offset-m2 l6 offset-l3 
                    amber lighten-3 card-panel-button modal-trigger z-depth-4">
                <i class="fa-solid fa-share-from-square right"></i>Share Page</a>
            </div>
            {% endif %}

            {% if data.owner and data.shared -%}
            <!-- Include hide page button and content if user is page owner and page is shared -->
            <div class="row">
                <div class="col s12 margin-top-2">
                    <p>Your progress with this routine is currently VISIBLE to anyone with the link.</p> 
                    <p>You can share this page with others using the following link:</p>
                </div> 
                <div class="col col s12 m10 offset-m1 margin-top-2">
                    <div class="card-panel-top z-depth-2">
                        <a href="{{ request.url }}">
                            {{ request.url }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Share button triggers confirmation modal -->
                <a href="#hide_modal" class="waves-effect btn-large col s10 offset-s1 m8 offset-m2 l6 offset-l3 
                    amber lighten-3 card-panel-button modal-trigger z-depth-4">
                <i class="fa-solid fa-eye-slash right"></i>Hide Page</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block modals %}
{% if data.owner and not data.shared %}
<!-- Share modal included if user is page owner and page is not shared -->
<!-- Share confimation modal -->
<div id="share_modal" class="modal center-align">
    <div class="modal-content">
        <h4>Do you want to share your progress with this routine?</h4>
        <p>
            Once you've updated your sharing settings, anyone with the link will be able to view your progress page
            for this routine.
        </p>
    </div>
    <div class="modal-footer z-depth-4">
        <a href="#!" class="modal-close waves-effect modal-button grey lighten-1 z-depth-4 btn">
            <i class="fa-solid fa-ban right"></i>Cancel</a>
        <a href="{{ url_for('toggle_sharing', routine_id=data.routine._id, username=data.username) }}" 
            class="modal-close waves-effect modal-button btn amber lighten-3 z-depth-4">
            <i class="fa-solid fa-share-from-square right"></i>Share</a>
    </div>
</div>
{% endif %}

{% if data.owner and data.shared %}
<!-- Hide modal included if user is page owner and page is shared -->
<!-- Share confimation modal -->
<div id="hide_modal" class="modal center-align">
    <div class="modal-content">
        <h4>Do you want to hide your progress with this routine?</h4>
        <p>
            Once you've updated your sharing settings, only you will be able to view your progress page for 
            this routine.
        </p>
    </div>
    <div class="modal-footer z-depth-4">
        <a href="#!" class="modal-close waves-effect modal-button grey lighten-1 z-depth-4 btn">
            <i class="fa-solid fa-ban right"></i>Cancel</a>
        <a href="{{ url_for('toggle_sharing', routine_id=data.routine._id, username=data.username) }}" 
            class="modal-close waves-effect modal-button btn amber lighten-3 z-depth-4">
            <i class="fa-solid fa-eye-slash right"></i>Hide</a>
    </div>
</div>
{% endif -%}
{%- endblock -%}

{% block scripts %}
<!-- Include chart.js for charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include adapter to allow chart.js to handle datetime data -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    // chart data
    const data = {
        labels : [
            {% for date in data.dates %}
                "{{ date }}",
            {% endfor %}
            ],
        datasets : [{
            label: 'sets',
            fill: false,
            lineTension: 0.3,
            borderColor: "#5ac9ff",
            pointBorderColor: "#5ac9ff",
            data : [
                {% for set in data.sets %}
                {{ set }},
                {% endfor %}],
            }]
        };

    // chart configuration
    const config = {
        type: 'line',
        data,
        options: {
            plugins: {
            legend: {
            display: false
            }},
            scales: {
                x: {
                    type: "time",
                    time: {
                        unit: 'day'
                    },
                    grid: {
                        lineWidth: 3
                    },
                    ticks: {
                        color: "#ddd"
                    }
                },
                y: {
                    grid: {
                        lineWidth: 3
                    },
                    ticks: {
                        color: "#ddd"
                    }
                }
            }
        }
    };

    // initialize the chart
    const myChart = new Chart(
        document.getElementById("myChart"),
        config,
        );

</script>
{% endblock %}